@charset "UTF-8";


article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

h1,h2,h3,h4,h5,p { line-height:1; margin:0; padding:0; }
html { overflow-y:scroll; }
body { margin:0; padding:0;}
img { border:0; vertical-align:top; }


body, td, p, input, button, textarea, select, .c1 { font-family:굴림,Tahoma; font-size:12px; color:#222222; }

form { margin:0px; }


a:link, a:visited, a:active { text-decoration:none; color:#555555; }
a:hover { text-decoration:underline; }

a.menu:link, a.menu:visited, a.menu:active { text-decoration:none; color:#454545; }
a.menu:hover { text-decoration:none; }

.member {font-weight:bold;color:#888888;}
.guest  {font-weight:normal;color:#888888;}

.lh { line-height: 150%; }
.jt { text-align:justify; }

.li { font-weight:bold; font-size:18px; vertical-align:-4px; color:#66AEAD; }

.ul { list-style-type:square; color:#66AEAD; }

.ct { font-family: Verdana, 굴림; color:#222222; }

.ed { border:1px solid #CCCCCC; }
.tx { border:1px solid #CCCCCC; }

.small { font-size:8pt; font-family:돋움; }
.cloudy, a.cloudy {color:#888888;} /* 흐림 */

input.ed { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; }
input.ed_password { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; font:10px Tahoma; }
textarea.tx { border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:2px; }
