@charset "UTF-8";

.hidden,small { display:none; }

ul {list-style:none;}
ul { margin: 0 0 0 0; padding: 0; }
li { margin: 0; padding: 0; }

span.hidden_span { text-indent:-10000px; overflow:hidden; height:0; font-size:0; line-height:0px; }
p.hidden_p { text-indent:-10000px; overflow:hidden; height:0; font-size:0; line-height:0px; }

.wrap-main section {	}
.block a span { display:block; overflow:hidden; width:0; height:0; font-size:0; position:absolute; }
.wrap-sub section.layout { width:1200px; height:1%; }
.wrap-sub > /**/ section.layout { height:auto; }
/*상단 영역 시작*/

.logo { display:inline-block; position:absolute; left:0; padding:35px 40px; border-right:1px solid #dfd9cf; }
.logo > img { cursor:pointer; }

#Menu { display:inline-block; position:absolute; right:217px; }
#Menu > li { position:relative; float:left; padding:40px 0 0 30px;  }
#Menu > li > a { position:relative; display:block; color:#fff; font-size:18px; font-weight:normal; text-decoration:none; padding:0 11px; }

#Menu > li > a > div{ position:absolute; width:0; height:2px; background:#fff; bottom:-34px; left:0; transition:.3s all ease-out;}
#Menu > li > a:hover > div, 
#Menu > li.on > a > div { width:100%; }


.callNum { position:absolute; width:197px; height:100px;  background:#333333;  right:0; top:0; line-height:120px; font-family:'Barlow';}
.callNum > img { position:absolute; left:20; top:40px; }
.callNum > span { display:inline-block; color:#fff; font-weight:bold; font-size:16px; line-height:20px; padding-left:30px; text-align:left; }

/*상단 영역 끝*/

/*하단 영역 시작*/
.footer_1 { padding:100px 0 75px 0; display:inline-block; width:100%; }
.footer_1 > div { float:left; margin-left:164px;  }
.footer_1 > div:first-child { margin-left:0; }

.f_address,
#f_Menu > li > a, 
#f_info > li,
#f_info > li > a { color:#fff; font-size:15px; font-weight:300; }

.fixed { position:fixed; bottom:90px; width:70px; height:151px; right:20px; z-index:3; }
.top { position:absolute; top:81px; cursor:pointer; }
.onair { position:absolute; cursor:pointer; }


.footer_2 { left:0; right:0; bottom:0; width:100%; height:59px; background:#3f5651; }
.footer_2_1 { width:1200px; height:30px; margin:0 auto; padding-top:20px; }
.footer_2_1_1 { position:absolute; font-size:13px; color:#fff; font-weight:300; opacity:.4; }
.footer_2_1_1 > span { font-weight:500; }
.footer_2_1_2 { width:130px; color:#fff; font-size:13px; font-weight:300; float:right; }
.footer_2_1_2 > span { opacity:.4; }

/*서브 영역 시작*/
.subvisual { width:100%; min-width:1200px; height:550px; background-repeat:no-repeat; background-position:center top; position:relative; text-align:center;}
.subvisual > div { position:absolute; left:0; right:0; bottom:0; width:100%; max-width:1280px; height:70px; margin:0 auto; background:#fff; border-radius:15px 15px 0 0; border-bottom:1px solid #d9d9d9; }
.subvisual > p { color:#fff; font-size:80px; font-weight:500; padding-top:222px; font-family:'Lora'; }

#soMenu { display:inline-block; }
#soMenu > li { float:left; padding:0 40px; height:69px; line-height:71px; }
#soMenu > li.on { border-bottom:3px solid #000;  }

#soMenu > li > a { color:#000; font-size:18px; font-weight:300; }

section.layout .content { margin:0 auto; width:1200px; }

.shoptitle { margin-top:20px; }
section.layout .subContent {float:left;}


.boardarea { width:1200px; margin:0 auto; padding:60px 0 100px; }
/*서브 영역 끝*/



/* 게시판 영역 시작 */
.Boardpage { display:inline-block; width:100%; margin:10px auto; text-align:center; }
.Boardleftbtn { float:left; width:22%; }
.Boardrightbtn { float:right; }
table.t6 { border:0; background:#fff; padding:0 0 0 0; margin:0 auto; }
table.t6 td { border:1px solid #d0d0d0; width:28px; padding:0; margin:0; height:28px; text-align:center; vertical-align:middle; color:#595959; background:#fff; font-size:14px; }
table.t6 td.td-remo { text-align:right; padding:0 13px 0 0; border:0; width:8px; margin:0; }
table.t6 td.td-remo2 { text-align:left; padding:0 0 0 13px; border:0; width:8px; margin:0; }
table.t6 td.td-con { border:0; }
table.t6 td.td-on { background:#1f1f1f; color:#dcdcdc; border:1px solid #1f1f1f; }
table.t6 td a { display:inline-block; width:100%; height:28px; line-height:28px; color:#222; text-decoration:none; }
table.t6 td.td-on a:link { color:#dcdcdc; }
table.t6 td.td-on a:visited { color:#dcdcdc; }
table.t6 td.td-on a:hover { color:#dcdcdc; }
table.t6 td.td-on a:active { color:#dcdcdc; }
table.t6 thead th, table.t1 tfoot th { text-align:center; vertical-align:middle; }
/* 게시판 영역 끝 */



/* 상품영역 */
.ShopCover { padding:60px 0 100px; }

.c1 {background:#999999;}
.c2 {}
.cartsub_top td {line-height:1.2;} /* 상단 익스6에서 글자 짤리는거 방지소스.. */
.cartsub {width:100%;}
.cartsub, .cartsub td, .cartsub tr, .cartsub small, .cartsub font {font-family:돋움; !important}
.cartsub FONT {font-weight:bold;}
.cartsubtext { padding:20px;}


/* 상품리스트 영역 */
.cartBtn {background:#4b4b4b;color:#ffffff;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.cartBtn:hover {background:#ffffff;color:#000000;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.shop_btns a:hover {text-decoration:none;}

.shop_page { clear:both; text-align:center; margin:20px 0 30px 0; display:inline-block; width:100%; font-size:0px; }
.shop_page a { display:inline-block; vertical-align:middle; text-decoration:none; margin:0 3px; }
.shop_page a.page_text { color:#999898; font-size:14px; margin:0 10px; }
.shop_page a.now_on_page { color:#ec2a2a; }
.shop_page .page_bg1 { background:#919191; border:1px solid #ddd; }
.shop_page .page_bg2 { background:#ec2a2a; border:1px solid #ddd; }
.shop_page .page_bg1 img { display:block; }
.shop_page .page_bg2 img { display:block; }
/* 상품리스트 영역 끝 */


/* 아이템 영역 */
.cartBtn {background:#4b4b4b;color:#ffffff;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.cartBtn:hover {background:#ffffff;color:#000000;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.shop_btns a:hover {text-decoration:none;}

.vleft_img {width:560px; margin:0px 0 0 0px; float:left; display:inline-block;  }
.vimg { display:block; width:560px; height:560px; position:relative; border:1px solid #e1e1e1; }

.thum_img { margin-top:9px; padding:0; height:65px; width:auto; text-align:center }
.thum_img img { width:60px; height:60px; border:1px solid #c0c0c0; margin:0 4px; display:inline-block }

.vright { float:left; width:570px; margin:0px 0px 0 50px; display:inline-table; font-family:"Noto Sans KR"; text-align:left; font-weight:300; position:relative; }

#zoom_area { position:absolute; left:-37px; top:-2px; width:400px; height:400px; background:rgba(0,0,0,0.2); display:none; overflow:hidden; border:3px solid gray;}

.vright > div { display:table-cell; vertical-align:top; }

.vright h3 { padding:0; font-size:38px; color:#000000; line-height:44px; display:block; }
.it_basic { font-size:16px; color:#b8b8b8; font-weight:400; line-height:25px; margin-bottom:25px; }
.vright_con { width:100%; color:#4b4b4b; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; padding:40px 0; }
.vright_con th { padding:5px 0 5px 10px; text-align:left; font-size:16px; color:#414141; }
.vright_con td { padding:5px 0 5px 0px; vertical-align:top;font-size:14px;  }

.cnt_amount { display:inline-block; width:100%; margin:30px 0 30px; }

.v_btn { padding:0px 0 0 0; list-style:none; width:100%; display:inline-block; }
.v_btn li { float:left; }
.v_btn li img { display:block; }
.v_btn li a { text-decoration:none; }

.vbanner { float:right; position:relative; display:inline-block; }
.vbanner .v_left { position:absolute; right:24px; top:0px; cursor:pointer; }
.vbanner .v_right { position:absolute; right:0px; top:0px; cursor:pointer; }

.pro_btn { width:183px; height:43px; text-align:center; line-height:40px; font-size:16px; }

.btn_buy { border:1px solid #4a4a4a; color:#fff; background:#4a4a4a; }
.btn_buy:hover { background:#ff9c00; border:1px solid #ff9c00; }
.ather_btn { border:1px solid #b0b0b0; color:#555; }
.ather_btn:hover { border:1px solid #333; }

.product_icon { width:100%; height:20px; text-align:right; }

	/* 상세 탭 */
	.item_ex_tab { display:inline-block; width:100%; margin:30px 0; position:relative; }
	.item_ex_tab > li { display:inline-block; width:25%; height:55px; line-height:53px; text-align:center; box-sizing:border-box; border:1px solid #bfbfbf; border-left:0px; float:left; }
	.item_ex_tab > li:first-child { border-left:1px solid #bfbfbf; }
	.item_ex_tab > li.on { border:1px solid #bfbfbf; border-bottom:3px solid #363636; border-left:0; }
	.item_ex_tab > li.on:first-child { border-left:1px solid #bfbfbf; }
	.item_ex_tab > li > a { display:inline-block; width:100%; height:100%; text-decoration:none; color:#222; font-size:15px; font-weight:300; }
	.item_ex_tab > li > a > span { color:#222; }

	.div_explan { position:relative; width:100%; margin:0 auto 50px; box-sizing:border-box; }
	.div_explan ul { list-style-type:disc; list-style-position:inside; list-style:initial; margin:initial; padding: 0 0 0 40px;  }
	.div_explan li { margin:initial; display:list-item; }
	.div_explan img { width:950px !important; display:block; margin:0 auto; }

	a.it_btn { position:absolute; width:200px; height:50px; line-height:50px; text-align:center; text-decoration:none; font-size:18px; }
	/* 상세 탭 끝 */


.slt_add_option {width:100%; padding:6px 0px; font-size:13px;}
.slt_add_option[disabled] {color:#afafaf;}

.opt_name { display:inline-block; width:360px; float:left; height:36px; line-height:35px; font-size:15px; padding-left:px; }
.opt_amount { display:inline-block; width:82px; float:left; height:36px; line-height:35px; font-size:14px; text-align:right; }

.div_add_options_nosltopt {float: left; width: 100%;  padding: 0%;   background-color: white;  margin: 10px 0px 30px 0px;}
.div_add_options_nosltopt .tit {padding:3px 0px 0px 0px; font-size:16px; font-weight:bold; display:inline-block;}
.div_add_options_nosltopt .cont {width:85%; font-weight:bold; float:right; display:inline-block; }
.div_add_options_nosltopt .slt_add_option {width:100%; padding:5px 0px; font-size:13px;}

.div_add_options {float: right; width: 95%;  padding: 0%;   background-color: white;  margin: 10px 0px 30px 5%;}
.div_add_options .tit {padding:5px; font-weight:bold;}
.div_add_options .cont {padding-left:20px; font-weight:bold;}
.div_add_options .slt_add_option {width:100%; padding:3px 0px; font-size:13px;}

/* 아이템 영역 끝 */



/* 장바구니 */
.cartBtn {background:#4b4b4b;color:#ffffff;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.cartBtn:hover {background:#ffffff;color:#000000;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.cart_btns a:hover {text-decoration:none;}

.cart_item_option_hr {border:0px; border-top:1px dashed #aaaaaa;}
.cart_item_option li {margin-top:4px; color:#4d4d4d; font-size:11px;}
.cart_item_option_name { display:inline-block; padding:1px 5px; text-align:center; border-right:1px solid #3d3d3d; border-left:1px solid #3d3d3d;  color:#3d3d3d; border-radius:4px;}
/* 장바구니 끝 */



/* 결제창 */
.cartBtn {background:#4b4b4b;color:#ffffff;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.cartBtn:hover {background:#ffffff;color:#000000;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.shop_btns a:hover {text-decoration:none;}
.left_tit { font-size:16px; font-weight:400; float:left; padding-left:10px; }
/* .cartBtn {background:#4b4b4b;color:#ffffff;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.cartBtn:hover {background:#ffffff;color:#000000;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.shop_btns a:hover {text-decoration:none;} */
.od_group {box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); border-radius:3px; overflow:hidden;}
.od_group_title { background-color:#efefef; position:relative; left:-10px; width:105%; height:37px; font-size:17px; padding-top:10px; padding-left:15px; font-weight:bold; color:#4d4d4d;}
.od_group table.od_group_table td {font-size:13px;}
.od_group table {margin:10px 0 10px 0; width:100%;}
.od_group table td {height:30px;}
.od_group table td input, .od_group table td select, .od_group table td textarea  {padding:6px; border:1px solid #afafaf; box-shadow:#efefef 1px 1px 1px;}
.btn_settlecase {border:1px solid #a8a8a8; font-size:15px;width:170px; display:inline-block; cursor:pointer; padding:10px 5px; clear:both; border-radius:2px; background-color:#ffffff; margin-bottom:5px;} 
.btn_settlecase label {position:relative; left:10px; top:0px; cursor:pointer;}
.btn_settlecase.on {border:2px solid #CC0000; color:#CC0000; font-size:15px;}
.multi_delivery_title { border: 1px solid #9f9f9f; background-color:#fff; border-radius:3px; font-weight:bold;}
/* 결제창 끝 */



/* 마이페이지 */
.mypage_tb .mp_it_tit { padding:9px 9px 9px 10px; font-size:9pt; font-weight: bold; border-right:1px solid #999999; border-bottom:1px solid #999999; }
.mypage_tb .mp_it_tit2 { padding:9px 9px 9px 10px; font-size:9pt; font-weight: bold; border-right:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999; }
.mypage_tb .mp_it_cont { padding:9px 9px 9px 10px; font-size:9pt; border-bottom:1px solid #999999; }
.mypageBtn span{background:#4b4b4b;color:#ffffff;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.mypageBtn span:hover {background:#ffffff;color:#000000;padding:5px 8px;line-height:23px;border:1px solid #1b1b1b;font-size:11px;}
.mypageBtn:hover {text-decoration:none;}
/* 마이페이지 끝 */




/* 버튼 */
span.btnBack{display:inline-block; background-color:#CACACA; color:#5d5d5d; padding:15px 10px; position:relative; font-size:15px; font-weight:bold; top:0px; border-radius:3px; cursor:pointer; }
span.btnOK{display:inline-block; background-color:#404040; color:white; padding:15px 10px; position:relative; font-size:15px; font-weight:bold; top:0px; border-radius:3px; cursor:pointer; }
span.btn1 { cursor:pointer; display:inline-block; border:1px solid #4b4b4b; background-color: #4b4b4b; color:#ffffff; padding:6px 10px; position:relative; top:0px; border-radius:4px;}
span.btn1-o { cursor:pointer; display:inline-block; border:1px solid #4b4b4b; color:#4b4b4b; padding:6px 10px; position:relative; top:0px; border-radius:4px;}
span.btn1:hover, span.btn1-o:hover { box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); }
span.btn1.big, span.btn1-o.big {font-size:15px; padding:10px 15px;}
span.btn1.small, span.btn1-o.small {font-size:13px; padding:5px 9px;}

span.label_black { font-size:12px; border:solid 1px #616161; padding:8px 6px; line-height:1; border-radius:2px; display:inline-block; color:#616161; text-align:center; }
span.label_orange { font-size:12px; border:solid 1px #ef8100; padding:8px 6px; line-height:1; border-radius:2px; display:inline-block; color:#CB4D00; text-align:center; }
span.label_green { font-size:12px; border:solid 1px #2ba600; padding:8px 6px; line-height:1; border-radius:2px; display:inline-block; color:#228101; text-align:center; }
span.label_gray { font-size:12px; border:solid 1px #a9a9a9; padding:8px 6px; line-height:1; border-radius:2px; display:inline-block; color:#707070; text-align:center; }
span.label_blue { font-size:12px; border:solid 1px #009bec; padding:8px 6px; line-height:1; border-radius:2px; display:inline-block; color:#0276cb; text-align:center; }
span.label_purple { font-size:12px; border:solid 1px #7a00e2; padding:8px 6px; line-height:1; border-radius:2px; display:inline-block; color:#7a00e2; text-align:center; }
/* 버튼 끝 */





/* 커스텀 체크,라디오,셀렉트박스 */
.transparent_sltbox_wrapper {position:relative; display:inline-block;}

.transparent_radio_wrapper {position:relative; display:inline-block; cursor:pointer;}
.transparent_radio_wrapper span {position:relative; display:inline-block; top:-2px;}
.transparent_radio_wrapper span img{position:relative;  display:inline-block; width:15px; top:4px;}
.transparent_radio_focus_area {position:absolute; top:0px; left:0px; width:15px; height:15px;font-size:1px; text-decoration:none !important;}

.transparent_chkbox_wrapper {position:relative; display:inline-block; cursor:pointer;}
.transparent_chkbox_wrapper span {position:relative; display:inline-block; top:1px; font-size:15px;}
.transparent_chkbox_wrapper span img{position:relative;  display:inline-block; width:15px; top:2px;}
.transparent_chkbox_focus_area {position:absolute; top:0px; left:0px; width:15px; height:15px;font-size:1px; text-decoration:none !important;}

.transparent_sltbox {width:100%;height:100%; position:absolute; top:0px; left:0px; opacity:0;}
.transparent_chkbox {width:100%;height:100%; position:absolute; top:0px; left:0px; opacity:0; margin:0 0 0 15%;}
.transparent_radio {width:100%;height:100%; position:absolute; top:0px; left:0px; opacity:0; margin:0 0 0 15%;}
.transparent_date {width:100%;height:100%; position:absolute; top:0px; left:0px; opacity:0;}
/* 커스텀 체크,라디오,셀렉트박스 끝*/

